@media (min-width: 600px) {

  /*for Desktop*/
  /* .project {
    min-height: 200px;
    padding: 20px 20px;
  }

  .project-img,
  .project-img img {
    height: 100%;
    width: 100px;
  } */
}

@media (max-width: 600px) {

  /*for Mobile*/
  /* .project {
    min-height: 180px;
    padding: 14px 14px;
  }

  .project-img,
  .project-img img {
    height: 100%;
    width: 100px;
  }

  .project .description {
    font-size: 14px;
  } */
}

.projects {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

* {
  text-decoration: none !important;
  color: white;
}

.project {
  background-color: hsl(270, 2%, 11%);
  border: 1px solid rgba(49, 49, 49, 0.68);
  border-radius: 14px;
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: center;
  text-decoration: none !important;
  flex-grow: 1;
  flex-shrink: 1;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.projects .project:not(:hover) .project-img img.project-logo {
  filter: grayscale(100%) brightness(70%);
  transform: scale(1);
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.projects .project:hover {
  filter: none;
  transform: scale(1.03);
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.projects:not(:hover) .project .project-img img.project-logo {
  filter: none;
  transform: scale(1);
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.project-tag {
  background-color: hsl(270, 2%, 13%);
  padding: 7px 14px;
  border: 1px solid rgba(49, 49, 49, 0.68);
  border-radius: 100px;
  font-size: 14px;
  color: #969696;
  margin-inline: 5px;
  white-space: nowrap;
  width: min-content;
}

.project-img {
  width: 120px;
  height: 120px;
  justify-content: center;
  display: flex;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.project-logo {
  width: 100%;
  border-radius: 28px;
}

.project-name {
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.description {
  font-size: 16px;
  margin-top: 16px;
}