.content {
  display: flex;
  max-width: 940px;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  flex-direction: column;
}

.apps {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.app {
  background-color: #1c1b1d;
  border: 1px solid #1c1b1d;
  border-radius: 14px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 200px;
  min-width: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  transition: border 0.3s ease-in-out;
}

.app:hover {
  border: 1px solid #ffffff17;
}

/*==============================*/

.description {
  color: #808080;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  margin-bottom: 40px;
}

.img {
  width: 60px;
  height: 60px;
  justify-content: center;
  display: flex;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.tag {
  background-color: #262528;
  padding: 7px 14px;
  border: 1px solid rgba(49, 49, 49, 0.68);
  border-radius: 100px;
  font-size: 12px;
  color: #969696;
  margin-inline: 5px;
}

.tags {
  display: flex;
  margin-top: 20px;
  white-space: nowrap;
  justify-content: center;
  width: 100%;
}

.name {
  margin-top: 20px;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
}

img.logo {
  width: 100%;
}

#title {
  color: transparent;
  width: 100%;
  max-width: 529px;
  user-select: none;
  pointer-events: none;
}

#content {
  user-select: none;
  max-width: 1296px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 24px;
  flex-direction: column;
}

#stack-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  margin-bottom: 48px;
}

#description {
  color: white;
  font-size: 18px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

@media (max-width: 323px) {
  #stack-header {
    height: calc((100vw - 48px) / 3.8455);
  }
}

@media (min-width: 323px) {
  #stack-header {
    height: 84px;
  }
}

a{
  text-decoration: none;
  color: white;
}