@font-face {
  font-family: Inter;
  src: url("./fonts/Inter.woff2") format("woff2");
  font-display: swap;
}

@media (min-width: 600px) {
  /*for Desktop*/
}

@media (max-width: 600px) {
  /*for Mobile*/
}

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #444446 #171618;
  box-sizing: border-box;
}

body {
  background: #171618;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  color: white;
  font-family: Inter !important;
}

.navbar {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 50px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  background-color: #1c1a1eb0;
  padding: 5px 5px;
  border-radius: 20px;
  flex-direction: row;
  border: 1px solid rgba(49, 49, 49, 0.68);
  height: 60px;
  width: 338px;
}

.icon {
  width: 46px;
  height: 46px;
  padding: 10px 10px;
}

.icon:hover:not(.selected) {
  background-color: #2726299a;
  border-radius: 15px;
  transition: background-color 0.2s;
}

.icon:not(:last-of-type) {
  margin-right: 8px;
}

.divider {
  margin-right: 8px;
  background-color: rgba(49, 49, 49, 0.68);
  width: 1px;
  height: 40px;
}

.selected {
  background-color: hsl(263, 73%, 56%);
  border-radius: 15px;
  color: #303030;
}

h1 {
  width: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}
